<%= form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :water_source_id %><br>
    <%= f.text_field :water_source_id %>
  </div>
  <div class="field">
    <%= f.label :treatment_chemical_id %><br>
    <%= f.text_field :treatment_chemical_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
