<h1>Listing treatments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Water source</th>
      <th>Treatment chemical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= link_to treatment.water_source.name, treatment.water_source %></td>
        <td><%= link_to treatment.treatment_chemical.name, treatment.treatment_chemical %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path %>
