<%- if logged_in? -%>
<div class="row">
  <div class="col-md-6">
    <%= image_tag("bear-transparent.png", class: "img-responsive") %>
  </div>
  <div class="col-md-6">
    <p class="button"><%= link_to "Start Fluoride Analysis", new_fluoride_scan_path, class: "btn btn-lg btn-default" %></p>
    <p class="button"><%= link_to "History", fluoride_scans_path, class: "btn btn-lg btn-default" %></p>
  </div>
</div>

<%- else -%>

<div class="jumbotron center">
  <div class="row">
    <div class="col-md-4">
     <%= image_tag("bears-color.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h1>Welcome to Baby Bear Care</h1>
      <p>Log in to continue</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <%= link_to "Login", login_path, class: "btn btn-lg btn-block btn-success" %>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-block btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- end -%>