<%= form_for(@mineral) do |f| %>
  <% if @mineral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mineral.errors.count, "error") %> prohibited this mineral from being saved:</h2>

      <ul>
      <% @mineral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :max_dosage %><br>
    <%= f.text_field :max_dosage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
