<h1>Editing <%= @user.login %></h1>

<%= render 'form' %>

<div class="infants">
  <%= render "infants/index" %>
</div>

<%= link_to "Add Infant", new_infant_path, remote: true, class: "btn btn-primary" %>
<div id="new-infant"></div>

<div id="infant-modal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
      </div>
   </div>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
