<h1>Editing <%= @user.login %></h1>

<%= render 'form' %>

<%- @user.infants.each do |infant| -%>
  <%= render "infants/summary", infant: infant %>
<%- end -%>

<%= link_to "Add Infant", new_infant_path, class: "btn btn-primary", data: { toggle: "modal", target: "#new-infant-modal"} %>
<div id="new-infant-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "infants/new" %>
    </div>
  </div>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
