<% @mineral_tests.each do |mineral_test| %>
  <tr>
    <td><%= mineral_test.test_date.strftime("%B %Y") %></td>
    <td><%= mineral_test.mineral.name %></td>
    <td><%= mineral_test.measurement %></td>
    <td><%= link_to 'Show', mineral_test %></td>
    <td><%= link_to 'Edit', edit_mineral_test_path(mineral_test) %></td>
    <td><%= link_to 'Destroy', mineral_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>