<p>
  <strong>Name:</strong>
  <%= infant.first_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= infant.weight %>
</p>

<p>
  <strong>Gender:</strong>
  <%= infant.gender %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= infant.date_of_birth %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= infant.due_date %>
</p>

<p>
  <strong>Birthweight:</strong>
  <%= infant.birth_weight %>
</p>

<p>
  <strong>Multiplebirth:</strong>
  <%= infant.multiple_birth %>
</p>
