<%= semantic_form_for @infant, remote: true do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add Infant</h4>
  </div>
  <div class="modal-body">
    <%= f.inputs do %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :gender, as: :select, collection: ["M","F","T"] %>
      <%= f.input :weight %>
      <%= f.input :date_of_birth %>
      <%= f.input :due_date %>
      <%= f.input :birth_weight %>
      <%= f.input :multiple_birth, as: :select, collection: ["S","T","M"] %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.actions do -%>
      <%= f.action :submit, label: "Save", button_html: { class: "btn btn-primary" } %>
    <%- end -%>
  </div>
<% end %>