<h1>Listing treatment_chemicals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatment_chemicals.each do |treatment_chemical| %>
      <tr>
        <td><%= treatment_chemical.name %></td>
        <td><%= link_to 'Show', treatment_chemical %></td>
        <td><%= link_to 'Edit', edit_treatment_chemical_path(treatment_chemical) %></td>
        <td><%= link_to 'Destroy', treatment_chemical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment chemical', new_treatment_chemical_path %>
