<%= render file: "layouts/shared/head" %>
<div id="header">
  <div class="container">
    <h1 id="title" class="center">Baby Bear Care</h1>
  </div>
  <div id="nav">
    <div class="container center-block">
      
    </div>
  </div>
</div>
<%= image_tag "cloud.png", class: "cloud", id: "cloud_1"%>
<%= image_tag "cloud.png", class: "cloud", id: "cloud_2"%>
<div id="main-content">
  <div class="container">
    <%= render file: "layouts/shared/navigation" %>
    <div class="inner-container">
      <div class="inner-inner-container"> 
        <%= yield :tab_area %>
        <%= render file: "layouts/shared/flashes" %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<footer>
  <div id="footer-content"></div>
</footer>

<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= yield(:tail) %>

</body>
</html>
