<%= render file: "layouts/shared/head" %>

<%= render file: "layouts/shared/header" %>
<%= render file: "layouts/shared/navigation" %>
<%= render file: "layouts/shared/flashes" %>
<div class="container">
	<%= yield %>
</div>

<%= render file: "layouts/shared/footer" %>
<%= render file: "layouts/shared/tail" %>
