<%= render file: "layouts/shared/head" %>
<%= render file: "layouts/shared/navigation" %>
<%= render file: "layouts/shared/header" %>

<div id="main-container" class="container">
  <%= render file: "layouts/shared/flashes" %>
	<%= yield %>
</div>

<%= render file: "layouts/shared/footer" %>
<%= render file: "layouts/shared/tail" %>
