<%= semantic_form_for @water_source do |f| %>
  <%= f.input :watershed %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :water_source_type %>
  <%= f.input :standard_geographic_code %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
