<h1>Listing fluoride_scans</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Water type</th>
      <th>Bar code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr><p>History should show up here</p></tr>
    <% @fluoride_scans.each do |scan| %>
    <tr>
      <td><%= link_to scan.user.login, scan.user %></td>
      <td><%= scan.location %></td>
      <td><%= scan.water_type %></td>
      <td><%= scan.bar_code %></td>
      <td><%= link_to 'Show', scan %></td>
      <td><%= link_to 'Edit', edit_fluoride_scan_path(scan) %></td>
      <td><%= link_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fluoride scan', new_fluoride_scan_path %>
