<h1>Listing All Recent Scans for <%= @current_user.login %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Infant</th>
      <th>Date</th>
      <th>Location</th>
      <th>Water type</th>
      <th>Home Treatment</th>
      <th>Bar code</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infants.each do |infant| %>
    <tr>
      <th colspan="8"><%= infant.first_name %></th>
    </tr>
      <% infant.fluoride_scans.each do |scan| %>
      <tr>
        <td>&nbsp;</td>
        <td><%= scan.created_at.strftime("%B %d, %Y") %></td>
        <td><%= scan.water_source.name %></td>
        <td><%= scan.water_type %></td>
        <td><%= scan.home_treatment_type %></td>
        <td><%= scan.bar_code %></td>
        <td>
          <% unless scan.toxicity.nil? %>
            <span class="label label-<%= scan.toxicity_level_class %>">
              <%= scan.toxicity_level_class %>
            </span>
          <% end %>
        </td>
        <td><%= link_to 'Show', scan %></td>
        <td><%= link_to 'Edit', edit_fluoride_scan_path(scan) %></td>
        <td><%= link_to 'Delete', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scan', new_fluoride_scan_path, class: "btn btn-lg btn-default" %>
